<div class="position-relative h-100">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card" style="width: 20rem;">
            <img src="assets/svg/icon.svg" height="128" class="card-img-top mt-5" alt="icon">
            <div class="card-body">
                <h5 class="card-title text-center">ASL Planner</h5>
                <form class="row g-3">
                    <div class="col-12">
                        <label for="input-planner-email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="input-planner-email">
                    </div>
                    <div class="col-12">
                        <label for="input-planner-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="input-planner-password">
                    </div>

                    <div class="col-12">
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary" type="button">Sign in</button>
                            <button class="btn btn-primary" type="button">
                                <i class="bi bi-google"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>